# Node / Next / Nest
node_modules/
.next/
dist/
npm-debug.log*
.yarn/*
.pnpm-store/
coverage/

# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
venv

# Docker
docker/*.log
**/.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Misc
*.local